h1 {
  margin: 0;
}


.nav {
  background-image: url('./images/image19.png');
  background-position: center;
  background-size: cover;
  height: 100px;
}

.nav h1 {
  color:white;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 0px #f8f0f05e;
  padding-top: 10px;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}

.nav ul li {
  padding: 3px;
  list-style: none;
}
 .nav ul li a {
   text-decoration-line: none;
   color:white;
   
 }


.lol {
  font-size: 17px;
}

/*------------pages----------*/

.onas {
  margin: 0;
  display: grid;
  justify-items: center;
  color:rgb(50, 107, 228);
  text-shadow: 2px 2px 0px #1b141433;
}

.onas h4 {

}

.onas p {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  text-shadow: none;
}

.whatwedo {
  display: grid;
  justify-items: center;
}

.whatwedo h3 {
  color: rgb(50, 107, 228);
  text-shadow: 2px 2px 0px #1b141433;
}

.legal {
  text-align: center;
  color: rgb(50, 107, 228);
  text-shadow: 2px 2px 0px #1b141433;

}

.legal img {
  margin: 10px;
  border: 20px solid #f1dbbb42;
}


.uslugi {

}
 
.uslugi h1 {
  text-align: center;
  color:rgb(50, 107, 228);
  text-shadow: 2px 2px 0px #1b141433;
  margin-top: 10px;

}

.projectsList {
  display: flex;

}

.line1 {
  border: 1px solid rgba(20, 79, 204, 0.35);
  border-radius: 4px;
  border-style: dotted;
  padding: 40px;
  margin: 10px;
  margin-left: 23px;
  transition: 0.9s;
}

.line1:hover {
  background-color: #3c70e352


}

.line2 {
  border: 1px solid rgba(20, 79, 204, 0.35);
  border-radius: 4px;
  border-style: dotted;
  padding: 40px;
  margin: 10px;
  margin-left: 23px;
  transition: 0.9s;
}

.line2:hover {
  background-color: #3c70e352


}

.line3 {
  border: 1px solid rgba(20, 79, 204, 0.35);
  border-radius: 4px;
  border-style: dotted;
  padding: 40px;
  margin: 10px;
  margin-left: 23px;
  margin-right: 25px;
  transition: 0.9s;
}

.line3:hover {
  background-color: #3c70e352;
}

/*------------------components-------------*/

.project1{
  background-color: aliceblue;
  padding-left: 10px;
  border-radius: 10px;
  margin: 10px;
  color: rgb(50, 107, 228);
  margin-top: 10px;
  
}

.list1 {
  color: black;
  list-style: circle;
}


.project2 {
  background-color: aliceblue;
  padding-left: 10px;
  border-radius: 10px;
  margin: 10px;
  color: rgb(50, 107, 228);
  margin-top: 10px;
}

.list2 {
  color: black;
  list-style: circle;
}

.project3 {
  background-color: aliceblue;
  padding-left: 10px;
  border-radius: 10px;
  margin: 10px;
  color: rgb(50, 107, 228);
}

.list3 {
  color: black;
  list-style: circle;
}

.contacts {
  margin-left: 10px;
  text-align: center;
}

.contacts h1 {
  color:rgb(50, 107, 228);
  text-shadow: 2px 2px 0px #1b141433;
  margin-top: 10px;
}